
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Arsenal SC', sans-serif;
    font-size: 64px;
}

h2{
    font-family: 'Arsenal SC', sans-serif;
    font-weight: bold;
    color: var(--font-color);
    font-size: 2.5em;


}

h3{
    font-family: 'Arsenal SC', sans-serif;
}

p{
font-family: 'Raleway', sans-serif;
}

:root{
    --font-color: #262626;
    --at-color: rgb(255, 186, 59);
    --spacing: 20px;
    --border-ppal: 2px solid #060606;
    --background: #f4f4f4;
    --primary-font: 'Arsenal SC', sans-serif;
    
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--background);
       
}

/*cabecera*/

header{
    width: 90%;
    height: 10vh;
    /*background-color: yellow;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
.logo{
    width: 10%;
}
nav{
    width: 50%;
    
   
    
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;



}
nav ul > li{
    list-style: none;
    padding-left: 10%;    
}

nav ul > li > a{
    text-decoration: none;
    font-family: 'Arsenal SC', sans-serif;
    font-weight: bold;
    color: var(--font-color);
    font-size: 1.2em;

}
.fa-cart-shopping{
    width: 100px;
    color: var(--font-color);

}

/*main*/
main{
    width: 90%;
    height: auto;
    min-height: 80vh;
    background-color: blue;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 200px);
    gap: 2%;
}

.section1{
    background-color:aquamarine;
    grid-column: 1/9;
    grid-row: 1/5;
}
.section1 > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
aside{
background-color: greenyellow;
grid-column: 1/3;
grid-row: 5/11;

}
aside > h2{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}
aside > ul{
    list-style: none;
    line-height: 50px;
    font-family: 'Arsenal SC', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
}

aside > ul > li > a{
    text-decoration: none;
    color: var(--font-color);
}

.section2{
    background-color: pink;
    grid-column: 3/9;
    grid-row: 5/11;
}

.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4%;
}

/*productos*/
.gallery > div{
    width: 100%;
    height: fit-content;
    text-align: center;
    
}

.gallery > div > img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: auto;

}

.gallery > div > h3 >a{
    text-decoration: none;
    color: var(--font-color);

}

.comprar{
    width: 70%;
    padding: 20px;
    margin-top: 20px;
    font-family: var(--primary-font);
    font-size: 1.8em;
    letter-spacing: 2px;
    color: var(--background);
    background-color: var(--font-color);
    border-radius: 50px;

}

.comprar:hover{
    transition: 1s;
    background-color: #383838;
    box-shadow: 5px 5px 10px 1px #000000;

}



/*pie de página*/
footer{
    width: 90%;
    height: 10vh;
    background-color: orange;
    display: flex;
    margin: auto;
}

/*móvil*/

@media screen and (max-width: 375px){
    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto-fit;
    }
    aside{
        grid-column: 1/3;
        grid-row: 1/4;
    }
    section{
        grid-column: 1/3;
        grid-row: 4/8;
    }
}

@media screen and (min-width: 376px and max-width: 768px){
    
}